// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Message Styles

.messages {
  margin-top: 80px;
}

.message {
  border: 1px solid #f4f5f7;
  background: #f4f5f7;
  background-color: #fff;
  font-weight: 300;
  padding: 16px;
  margin-bottom: 10px;
}

p.time {
  color: #0084d7;
  font-size: 12px;
  margin-top: 12px;
}

form label {
  display: block;
  width: 100%;
}

form textarea {
  border: 1px solid transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin: 20px 0 10px;
  min-height: 100px;
  padding: 16px;
  transition: border 0.5s;
  width: calc(100% - 32px);
}

form textarea:focus {
  border: 1px solid #0084d7;
  box-shadow: 0;
  outline: 0;
  transition: border 0.5s;
}
